.dot {
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: rgb(177, 177, 177);
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    border: 2px solid black;
    font-size: 20px;
}

.text {
    position: absolute;
    text-align: center;
    font-size: 20px;
}

.btn {
    border: 1px solid black;
    cursor: pointer;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.instructionbtn {
    position: absolute;
    left: 1180px;
}

#canvas {
    border: 1px solid black;
    height: 720px;
    width: 1280px;
}

#contextMenuState {
    display: none;
    z-index: 100;
}

#contextMenuTransition {
    display: none;
    z-index: 100;
}

menu {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: 1px solid;
    background-color: white;
    font-weight: normal;
    white-space: nowrap;
}

menu:hover {
    background-color: #eef;
    font-weight: bold;
}

menu:hover>menu {
    display: block;
}

menu>menu {
    display: none;
    position: relative;
    top: -20px;
    left: 100%;
    width: 55px;
}

menu[title]:before {
    content: attr(title);
}

menu:not([title]):before {
    content: "\2630";
}

h1 {
    font-family: Calibri;
}

p {
    font-family: Calibri;
    font-size: 20px;
}